<div class="rgstr">
  <div class="steps">
    <ol>
      <li class="active">
        <label class="numberCircle" style="padding-left: 7px;" >1</label>
        <span class="">Verification</span>
      </li>
      <li class="">
        <label class="numberCircle" style="padding-left: 8px;" >2</label>
        <span class="">Information</span>
      </li>
      <li class="">
        <label class="numberCircle"><i class="fa fa-check"></i></label>
        <span class="">Complete</span>
      </li>
    </ol>
  </div>
</div>

<div class="marg-top middle-box text-center">
  <div>
    <form class="m-t" role="form">
      <div class="row">
        <div class="col-md-3">
          <span class="bold font-color">Email</span>
        </div>
        <div class="col-md-8">
          <input type="email" class="em form-control" role="form" placeholder="Please enter the email" required="">
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-3">
          <span class="bold font-color">Verification</span>
        </div>
        <div class="col-md-8">
          <input type="text" class="em form-control" placeholder="Please enter text" required="">
        </div>
      </div>

      <br/>
      <div class="row">

        <div class="agree">

          <div class="checkbox">
            <label>
              <div class="col-md-3">
              <input type="checkbox" class="form-control">
              <span class="checkbox-replacement-helper" style="margin-left: 0;"><span aria-hidden="true" class="glyphicon air-icon-check"></span>
              </span>
              </div>
              <p style="display: table;"> <span>Upon creating my account, I agree to : </span>
            -The <a href="">Alibaba.com User Agreement </a> <br>
            -Receive emails related to <a href="">Alibaba.com</a> membership and services</p></label>
          </div>
        </div>
      </div>
      <p></p>
      <button type="submit" class="btn-next btn btn-primary block full-width m-b">Next</button>
    </form>
  </div>
</div>
