.btn-primary {
    color: #fff;
    background-color:#379c02;
    border-color: transparent;
}

.remember{
    vertical-align: top;
    margin-left: 1vw;
}


a:active, a:focus, a:hover {
    color:#379c02;
    text-decoration: underline;
}

.text-right{

    text-align: right;
}
.social .signIn {
        font-size: 15px;
}
 .socialLinks {
    max-height: 40px;
    max-width: 40px;
}

.link {
    padding: 3%;
}
